.container {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}

.user {

}

.token {
    min-height: fit-content;
    overflow-wrap: break-word;
}